<div class="header">
    <a href="https://www.womenwhocode.com/kl" target="_blank" class="header-logo">
        <img [src]="logo" alt="logo" width="75px">
    </a>
    <h1>Year in Review 2018</h1>
</div>
<div class="hero">
    <p>What a year! We've had <br>over <strong>20</strong> events in 2018.</p>
</div>

<!-- event list -->
<div class="words">
    <p>We have workshops, talks, panel discussions, & study groups.</p>
</div>
<app-event-list></app-event-list>

<!-- stats -->
<div class="words">
    <p>Here are some insteresting stats...</p>
</div>
<div class="stat-list">
    <div class="stat-item">
        <p><strong>2,227</strong> likes in Facebook</p>
    </div>
    <div class="stat-item">
        <p><strong>64%</strong> of our Facebook fans are female</p>
    </div>
    <div class="stat-item">
        <p><strong>60%</strong> of our participants are female</p>
    </div>
    <div class="stat-item">
        <p><strong>60%</strong> of our speakers / volunteers are female</p>
    </div>
    <!-- <div class="stat-item">
        <p>Most events have <strong>50%</strong> female, except FreeBSD meetup & Ethereum workshop</p>
    </div> -->
</div>
<!-- host list -->
<div class="words">
    <p>Thank you for our event hosts and sponsors!</p>
</div>
<app-sponsor-list></app-sponsor-list>

<!-- helper list -->
<div class="words">
    <p>The people who made everything possible this year</p>
</div>
<app-helper-list></app-helper-list>

<!-- contact list -->
<div class="words invert">
    <p>Want to be involved? Get in touch with us!</p>
</div>
<app-contact-list></app-contact-list>