<div class="header">
    <a href="https://www.womenwhocode.com/kl" target="_blank" class="header-logo">
        <img [src]="logo" alt="logo" width="75px">
    </a>
    <h1>Year in Review 2018</h1>
</div>
<div class="hero">
    <p>What a year! We've had <br>over <strong>20</strong> events in 2018.</p>
</div>

<!-- event list -->
<div class="words">
    <p>We had workshops, talks, panel discussions & study groups.</p>
</div>
<app-event-list></app-event-list>

<!-- stats -->
<div class="words">
    <p>Here are some insteresting stats...</p>
</div>
<div class="stat-list">
    <div class="stat-item">
        <p><strong>2,227</strong> likes in Facebook</p>
    </div>
    <div class="stat-item">
        <p><strong>64%</strong> of our Facebook fans are female</p>
    </div>
    <div class="stat-item">
        <p><strong>60%</strong> of our participants are female</p>
    </div>
    <div class="stat-item">
        <p><strong>60%</strong> of our speakers / volunteers are female</p>
    </div>
    <!-- <div class="stat-item">
        <p>Most events have <strong>50%</strong> female, except FreeBSD meetup & Ethereum workshop</p>
    </div> -->
</div>
<div class="words">
    <p>The top engaging facebook post goes to...</p>
</div>
<div class="top-post">
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fwomenwhocodekl%2Fposts%2F1108909852600509&width=700&show_text=true&appId=808790019299380&height=679" width="700" height="679" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>
<div class="words">
    <p>Do you remember we made a video?</p>
</div>
<div class="top-post">
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwomenwhocodekl%2Fvideos%2F965856320239197%2F&width=700&show_text=false&appId=808790019299380&height=392" width="700" height="392" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
</div>

<!-- news -->
<div class="words invert">
    <p>#WWCodeKl was featuring in news, radio station & magazine too.</p>
</div>
<app-feature-list></app-feature-list>
<!-- host list -->
<div class="words">
    <p>Thank you for our event hosts and sponsors...</p>
</div>
<app-sponsor-list></app-sponsor-list>

<!-- helper list -->
<div class="words">
    <p>... and everyone that made this possible!</p>
</div>
<app-helper-list></app-helper-list>

<!-- contact list -->
<div class="words invert">
    <p>Want to be involved? Get in touch with us!</p>
</div>
<app-contact-list></app-contact-list>