body {
font-family: 'Patrick Hand', cursive;

}

.header-title {
  margin: auto;
  color: white;
  text-shadow: 3px 3px black;
  font-size: 5vh;
  font-family: 'Fredericka the Great', cursive;
}

.carousel-caption {
  color: white;
  text-shadow: 2px 2px black;
}

.carousel-caption h4 {
  font-size: 5vw;
}

.carousel-caption h5 {
  font-size: 3vw;
}

@media all and (min-width: 1024px) {
  .event-height {
    height: 550px;
  }
  .sponsor {
       max-height: 100px;
  }
}

@media all and (min-width: 673) and (max-width: 1024px) {
  .event-height {
    height: 380px;
  }
  .sponsor {
    max-height: 100px;
  }
}

@media all and (max-width: 480px) {
.event-height {
    height: 200px;
  }
  .sponsor {
    max-height: 50px;
  }
}

.item {
  overflow:hidden;
}

.event-image {
  width: 100%;
  margin-top: 0;
  filter: brightness(60%);
}

.community {
  background-image: url("images/19_hoc2.jpg");
}

.volunteer {
  display: inline-block;
}

#stitch {
  width: 200px;
  height: 200px;
  -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 70%, 0 70%);
  clip-path: polygon(0 20%, 100% 20%, 100% 70%, 0 70%);
  filter: contrast(180%) brightness(120%) grayscale(1);
  align-self: center;
  margin-bottom: 10px;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
}

.sponsor {
  max-height: 100px;
  margin: auto;
}

.picture-header {
  margin-top: 50px;
  height: 200px;
  background-position: center;
  background-size: cover;
  filter: brightness(90%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.chart-container {
  width: 300px;
  height: 300px;
  margin: auto;
}

.chart-container-bar {
  width: 100%;
  margin: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-item {
  align-self: center;
}

.header-subtext {
  position: relative;
}

.light {
   background-image: url("images/random_light.jpg");
   position: relative;
}

.fade-in,
.title,
#section-events {
  opacity: 0;
}

.fa-facebook {
  color: #3b5998;
}

.fa-meetup {
  color: #e0393e;
}

.fa-envelope {
  color: #8a90c7;
}